@model CreateRoleViewModel
@{
    ViewBag.Title = "Create Role";
}
<h3>Role Manahement &gt; @ViewBag.Title</h3>
<form enctype="multipart/form-data" asp-controller="Role" asp-action="Create" method="post">
    <div style="border:2px solid">
        <div style="border:1px solid;margin:3px">
            <div style="margin:15px;margin-top:25px">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="RoleName"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row form-group justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary form-group mr-5" style="width:100px;">Create</button>
                    <a asp-controller="Role" asp-action="Index" class="btn btn-warning form-group" style="width:100px;">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>